.quantity-div {
  margin-block: 8px;
  border: 2px solid var(--primary-green);
  max-width: fit-content;
}

.operators {
  padding: 0.5rem 1rem;
  width: 55px;
  text-align: center;
}

.operators:hover {
  font-weight: 700;
  cursor: pointer;
  background-color: rgba(20, 162, 127, 0.2);
}

.input {
  max-width: 5rem;
  color: var(--primary-white);
  text-align: center;
  border-inline: 2px solid var(--primary-green);
}

.input:focus {
  outline: 1px solid var(--primary-white);
}

/* Hide the spinners for WebKit browsers (Chrome, Safari, Edge) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinners for Firefox */
input[type=number] {
  appearance: textfield;
}

.info-quant {
  font-style: italic;
  font-size: 12px;
  color: var(--primary-grey);
  margin-bottom: 16px;
}

.total {
  display: flex;
  gap: 8px;
  font-size: 20px;
  align-items: end;
}

.book-fee {
  font-size: 12px;
  color: var(--primary-grey);
}

.total-plus-fee {
  display: inline-block;
  border-bottom: 2px solid var(--primary-green);
  width: 150px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
